future==0.17.1
mkl-random==1.0.2
mpmath==1.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
numpy==1.19.0
numpydoc==0.8.0

scipy==1.5.2
matplotlib==3.0.2
scikit-learn==0.20.1
ipykernel==5.1.0
ipympl==0.6.3
ipython==7.2.0
ipython_genutils==0.2.0
ipywidgets==7.6.3

more-itertools==4.3.0
